.wrap {
    height: 100%;
    min-height: 250px;
    
    &.cover {
        position: relative;
        p {
            margin: 0;
            line-height: 100%;
            display: block;
            font-size: 56px;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -28px;
            width: 100%;
            // margin-left: -15px;
        }
    }

    &.info {
        .loader {
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: 225px; //250px (min-height) - 25px (loader height)
        }
    }

    .city-name {
        padding: 0 15px;
        .city-info {
            h2 {
                margin: 0;
                line-height: 19px;
            }
            .date {
                font-size: 10px;
                color: #673ab7;
            }
        }
    }
    .info-container {
        .weather-data {
            .weather-icon {
                padding: 0 15px;
                p {
                    font-size: 26px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
            .weather-feels {
                padding: 0 15px;
                p {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            .weather-more-info {
                ul {
                    border-left: 1px solid #673ab7;
                    padding: 0 0 0 5px;
                    list-style: none;
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    li {
                        span {
                            font-size: 15px;
                        }
                    }
                }
                padding: 0 15px;
                p {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
        .city-image {
            .img-thumbnail {
                border-color: #673ab7;
            }
        }
    }
}
