.title {
    text-align: center;
    font-size: 32px;
}
.widget-window {
    border: 1px hidden;
    border-radius: 5px;
    // box-shadow: ;
    padding: 20px 15px;
    -webkit-box-shadow: 10px 10px 50px -10px rgba(72,72,74,0.7);
    -moz-box-shadow: 10px 10px 50px -10px rgba(72,72,74,0.7);
    box-shadow: 10px 10px 50px -10px rgba(72,72,74,0.7);
}